@media only screen and (min-width: 992px) {
    main{
        flex-direction: row;
        gap: 20%;
    }
    section.cards-container{
        height: 100vh;
        min-width: 30%;
        background: transparent url('../images/bg-main-desktop.png') no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    section.cards-container > div.card-front{
        transform: translate(10em, 10em);
        width: 23em;
        height: 12em;
    }
    section.cards-container > div.card-back{
        transform: translate(15em, 23.5em);
        width: 23em;
        height: 12em;
    }
    p#cardCvc{
        transform: translate(17em, 5.3em);
    }
    form{
        width: 25em;
        align-self: center;
    }

}