 @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    font-family: 'Space Grotesk', sans-serif;
}
:root{
    --white:  hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Red: hsl(0, 100%, 66%);
    --input-border: linear-gradient: (hsl(249, 99%, 64%) to hsl(278, 94%, 30%))
}
body, html{
    min-width: 100vw;
    min-height: 100vh;
}
main{
    min-width: 100vw;
    min-height: auto;
    display: flex;
    flex-direction: column;
}
section.cards-container{
    height: 13em;
    min-width: 100vw;
    background: transparent url('../images/bg-main-mobile.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.cards-container > div.card-back{
    position: absolute;
    height: 10em;
    width: 17em;
    background: transparent url('../images/bg-card-back.png') no-repeat;
    background-size: contain;
    transform: translate(1.5em, 1em);
    flex-shrink: 0;
    color: var(--white);
}
section.cards-container > div.card-front{
    position: absolute;
    height: 10em;
    width: 17em;
    padding: 1em;
    color: var(--white);
    background: transparent url('../images/bg-card-front.png') no-repeat;
    background-size: cover;
    transform: translate(-1.5em, 6.5em);
    border-radius: 0.5em;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p#cardCvc{
    transform: translate(12em, 3.6em);
    width: fit-content;
}
div.card-front > div.logo{
    height: 2em;
    width: 100%;
    background: transparent url('../images/card-logo.svg') no-repeat;
    background-size: contain;
    align-self: flex-start;
}
p#cardNumber{
    font-size: 1.2rem;
}
div.card-front > div:not(div.logo){
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    font-size: 0.7rem;
    text-transform: uppercase;
}
form{
    width: 100%;
    height: auto;
    padding: 5em 1em 0em 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
p.error{
    font-size: 0.8rem;
    color: var(--Red);
}
div.field{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
div.field-container{
    display: flex;
    gap: 1em;
}
div.field-container > div.field > div{
    display: flex;
    width: auto;
    height: auto;
    gap: 1em;
}
div.field-container > div.field > div > input{
    width: 4em;
}
label{
    text-transform: uppercase;
    font-size: 0.8rem;
}
input[type="text"]{
    height: 3em;
    border-radius: 0.5em;
    padding: 0.6em;
}
input[name="cvc"]{
    width: 11.2em;
}
input[type="submit"]{
    height: 3.5em;
    border-radius: 0.5em;
    background-color: var(--Very-dark-violet);
    border: none;
    color: var(--white);
    cursor: pointer;
}
input[type="submit"]:hover{
    color: var(--Dark-grayish-violet);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }